body{
    font-family: 'qsregular', sans-serif !important;
    width: 100%;
    height: 100%;
}
form p{
    font-size: .80em;
}
.maincon{
    min-height: 100vh;
}
.herocon,.subfootercon{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}
.herocon{
    height: 400px;
    background-image: url(../assets/images/photo-of-woman-using-earphones-3757954.jpg);
}
.subfootercon{
    height: 350px;
    background-image: url(../assets/images/adult-bowl-cute-daylight-1153370.jpg);
    margin-top: 40px !important;
}
.containe{
    width: 80%;
}
.header1{
    height: 35%;
}
.bmi-description p{
    line-height: 27px;
}
.header2{
    height: 65%;
}

.header2 h5{
    width: 75%;
    line-height: 30px;
}
.subfootercon .header1 h1{
    width: 75%;
}
.subfootercon .header2{
    padding: 50px 0 !important;
}
button{
    width: max-content;
    padding: 10px 20px;
    font-family: 'bebas';
    font-size: 30px;
    border: 0;
    color: #fff;
    background: #FF4301;
    cursor: pointer;
}
.bmi-header{
    border-bottom: 1px solid #eaeaea;
}
h1{
    font-size: 3em;
}
.left-section,.right-section{
    padding: 0;
}
.bmi-score{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF4301;
}
.bmi-score h2{
    color: #fff;
}
.meter{
    width: 20px;
    height: 400px;
    background: #000;
}
.meter-measure{
    width: max-content;
    height: 400px;
    padding: 0;
}
.measure{
    padding: 30px 10px;
    border-bottom: 1px solid #c4c4c4;
}
.last{
    border: 0;
}
.measure p{
    margin: 0 !important;
    font-size: .80em;
}
.phead{
    font-family: 'manrope-bold' !important;
}
.bmi-stats{
    display: flex;
    flex-direction: column;
}
.heart-rate-div{
    border-bottom: 1px solid #FF4301;
}

.heart-rate-div h3{
    color: #FF4301;
}
.heart-rate-div-sub h4{
    color: #FF4301;
    font-size: 1.2em;
    cursor: pointer;
    width: max-content;
}
.heart-rate-div-sub p{
    font-size: .80em;
}
.subfootercon form{
    width: 100%;
    background: none;
    margin-top: 150px !important;
    padding: 50px 0 !important;
    /* border: 1px solid black !important; */
}
.form-con{
    width: 100%;
    flex-direction: column !important;
    /* padding-top: 30px; */
}
.email-section{
    width: 100%;
    padding-left: 0;
    /* margin: 30px 0; */
}
.mail{
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,.2);
    margin-bottom: 30px !important;
}
.logo{
    font-size: 1.5em;
    font-family: 'bebas';
}
.logo-2{
    color: #FF4301;
}
.pz{
    width: 50%;
    margin-right: 0 !important;
}
.stats{
    width: 100%;
    margin-top: 20px;
}
.mob{
    display: block;
}
.desk{
    display: none !important;
}
.heart-rate{
    cursor: pointer;
    width: max-content;
}

@media only screen and (min-width: 768px){
    .herocon{
        height: 740px;
    }
    .subfootercon{
        /* height: 950px; */
        height: auto;
        padding: 50px 0 !important;
        margin-top: 100px !important;
    }
    h1{
        font-size: 6em;
    }
    .header2 h5,
    .subfootercon .header1 h1{
        width: 50% !important;
    }
    .height-con{
        display: flex !important;
    }
    .bmi-stats{
        flex-direction: row;
    }
    .subfootercon .header2{
        padding: 0 !important;
    }
    .subfootercon form{
        width: 500px;
        background: rgba(256,256,256,.7);
        margin-top: 0 !important;
        /* padding: 0 !important; */
    }
    .mail{
        margin-bottom: 0 !important;
    }

    .pz{
        width: max-content;
        margin-right: 20px !important;
    }
    .stats{
        width: max-content;
    }
    .form-con{
        width: 80%;
        flex-direction: row !important;
    }
    .email-section{
        width: 320px;
        padding-left: 40px;
    }
    .mob{
        display: none;
    }
    .desk{
        display: block !important;
    }
}

@media only screen and (min-width: 1024px){
    .bmi-container{
        display: flex !important;
    }
    .height-con{
        flex-direction: column !important;
    }   
    .left-section{
        padding-right: 30px !important;
    }
    .right-section{
        padding-left: 30px !important;
    }
    .bmi-score{
        width: 70px;
        height: 70px;
    }
    .containe{
        width: 85%;
    }
}

@media only screen and (min-width: 1200px){
    .containe{
        width: 1150px;
    }
    .header2 h5{
        width: 40% !important;
    }
    .height-con{
        flex-direction: row !important;
    }
    .bmi-score{
        width: 100px;
        height: 100px;
    }
}